/* Global Styles */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

*{box-sizing: border-box;}

html,body{margin:0;padding:0;}

header,
section,
aside,
footer{
	font-family: 'Roboto', sans-serif;
	width:100%;
	padding:0.9em;
	background: #FFFFFF;
}

secion,
aside{
	float:left;
}
	
ul,ol{
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
}

a{
	color:#008080;
	text-decoration: none;
}

a:hover{
	color:#004040;
}
	
/* Header Styles */	

.search{
	float:left;
}
.search input{
	font-size:inherit;
	font-family:inherit;
	padding:0.6em;
	margin:0;
	border: 1px solid #DDDDDD;
	border-radius:3px;
}

.search span{
	display:none;
}

#ui-id-1{
	font-family: inherit;
	margin:0.3em;
}

.logo{
	float:left;
	height:35px;
	margin-left:0.6em;
}
	
.login{
	float:right;
}
.login div button{
	font-size:inherit;
	display:inline-block;
	margin-left:0.6em;
	padding:0.6em;
	background:#FAC832;
	border-radius:3px;
}

.login .media-object{
	float:left;
}

.login .btn{
	float:left;
}

.login .media-heading{
	float:left;
}
	
/* Phone size */

section,
aside {
	margin-top:4em;
}

.topic,
.create-comment,
.comment{
	margin:0.3em 0;
	position:relative;
}

.topic h1{
	font-size:1.8em;
	margin:0.3em 0;
}
.topic ul{}
.topic ul li{
	display:inline-block;
	margin-right:0.6em;
	margin-bottom:0.6em;
	font-size:0.9em;
}
.topic img{
	width:100%;
	border-radius:3px;
}
	
.create-comment img,
.comment img{
	width:35px;
	height:35px;
	margin-right:0.6em;
	border-radius:3px;
	position:absolute;
	top:0;
	left:0;
}
.create-comment input{
	font-size:inherit;
	font-family:inherit;
	padding:0.6em;
	margin:0;
	border: 1px solid #DDDDDD;
	border-radius:3px;
}
	
.comment div{
	margin-left:45px;
	clear:both;
}
.comment span{
	font-size:0.9em;	
	height:35px;
	color:#AAAAAA;
}
.comment p{
	font-size:1.2em;
	margin:0.3em 0;
	line-height: 1.2em;
}
.comment ul li{
	font-size:0.9em;	
	display:inline-block;
	margin-right:0.6em;
	margin-bottom:0.6em;
}

.more-comments{
	width:100%;
	height:35px;
	border:1px solid #DDDDDD;
	background:#FFFFFF;
	border-radius:3px;
}

footer ul{
	text-align: center;
}
footer ul li{
	font-size:0.9em;	
	display:inline-block;
	margin-right:0.6em;
	margin-bottom:0.6em;
}

/* Desktop-tablet size */

@media (min-width: 600px){

section{
	width:60%;
}

aside{
	width:40%;
}

header, main{
	width:90%;
	margin:0 auto;
}

}





