/* Global Styles */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

*{box-sizing: border-box;}

body{
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
	background:#FFFFFF;
	color:#444444;
}

ul,ol{
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
}

a{
	color:#008080;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}
	
/* Header Styles */	

.search{
	float:left;
	width:40%;
}

.search input{width:60%;}

.search input,
.search button{
	font-size:0.8em;
	font-family:inherit;
	padding:0.6em;
	margin:0 0.6em 0 0;
	border: 1px solid #EEEEEE;
	border-radius:3px;
	background:#FFFFFF;
	float:left;
}

.search span{
	display:none;
}

#ui-id-1{
	background:#FFFFFF;
	font-size:0.8em;
	font-family:inherit;
}
#ui-id-1 li{
	padding:0.4em;
	border-bottom: 1px solid #EEEEEE;
}

.logo{
	float:left;
	height:34px;
}
	
.login{
	float:right;
}
	
/* Phone size */

header,
main,
footer{
	width:100%;
	padding:0.8em;
	clear:both;
}

article{
	padding-bottom:1em;
	margin-bottom:1em;
	border-bottom: 1px solid #EEEEEE;
}

.topic,
.create-comment,
.comment{
	margin:1.2em 0;
	position:relative;
}

.topic h1{
	font-size:1.6em;
	margin:0.2em 0;
}
.topic ul{}
.topic ul li{
	display:inline-block;
	font-size:0.6em;
	text-transform: uppercase;
}
.topic ul li a{
	padding:0.2em 0.6em;
	background:#008080;
	border-radius: 3px;
	color:#FFFFFF;
	letter-spacing:1px;
}
.topic ul li:last-child a{
	background:#FFFFFF;
	color:#444444;
	letter-spacing:0px;
}

.topic .img{
	border-radius:3px;
	margin-top:0.4em;
	background:#FCFCFC;
}
.topic .img img{
	margin:0 auto;
	width:80%;
	display:block;
}
	
.create-comment img,
.comment img{
	width:35px;
	height:35px;
	margin-right:0.6em;
	border-radius:3px;
	position:absolute;
	top:0;
	left:0;
}
.create-comment input{
	font-size:inherit;
	font-family:inherit;
	padding:0.6em;
	margin:0;
	border: 1px solid #EEEEEE;
	border-radius:3px;
}
	
.comment div{
	margin-left:45px;
	clear:both;
}
.comment span{
	font-size:1em;	
	height:35px;
	color:#AAAAAA;
}
.comment p{
	font-size:1em;
	margin:0.2em 0;
	line-height: 1.2em;
}
.comment ul li{
	font-size:0.8em;	
	display:inline-block;
	margin-right:0.6em;
	margin-bottom:0.6em;
}

/*Tags*/

.tagsinput{}
.tag{
	display:inline-block;
	margin-right:0.6em;
	margin-bottom:0.6em;
	font-size:0.6em;
}

#loadMore,
#loadMoreTrending{
	font-size:0.8em;
	font-family:inherit;
	padding:1.2em;
	margin:1.2em 0;
	border: 1px solid #EEEEEE;
	border-radius:3px;
	background:#FFFFFF;
	width:100%;
}

footer ul{
	text-align: center;
}
footer ul li{
	font-size:0.8em;	
	display:inline-block;
	margin-right:0.6em;
	margin-bottom:0.6em;
}

/* Desktop-tablet size */

@media (min-width: 600px){

section{
	width:59%;
	float:left;
}

aside{
	width:39%;
	float:right;
}

header,
main,
footer{
	width:80%;
	margin:0 auto;
}

}





