/* Global Styles */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

*{box-sizing: border-box;}

body{
	font-family: 'Roboto', sans-serif;
	margin:auto;
	padding:0.8em;
	background-color:#FFFFFF;
	color:#444444;
	width:80%;
}

ul,ol{
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
}

li{
	text-transform: capitalize;
	display: inline-block;
}

a{
	background-color:#FFFFFF;
	color:#008080;
	text-decoration: none;
}

a:hover{
	background-color:#FFFFFF;
	color:#004040;
}

#mainHeader{
	position:fixed;
	background-color:rgba(47, 149, 54, 1);
	padding:0.8em 0;
	width: 100%;
	top: 0;
	z-index: 1;
	left: 0px;
	box-shadow: 0px 1px 1px grey;
}
main{
	margin-top:10%;
	overflow: hidden;
}
#mainFooter{
}
	
/* #mainHeader Styles */	

.search{
	float:left;
	margin-right: 0.8em;
}

.search input,
.search button{
	font-size:0.8em;
	font-family:inherit;
	padding:0.8em;
	border: 1px solid #EEEEEE;
	border-radius:5px;
	background-color:#FFFFFF;
}

.search input{
	width: 90%;	
}

.search span{
	display:none;
}

.search .ui-autocomplete-loading {
	background: url('https://www.burnscowboyshop.com/App_Themes/desktop/images/horizontal-loading.gif') no-repeat right center;
}

#ui-id-1{
	border: 1px solid #EEEEEE;
	background-color:#FFFFFF;
	position:absolute;
}

.ui-menu-item{
	font-size:0.8em;
	display:block;
	z-index: 1500;
	padding: 0;
}
ul.ui-autocomplete {
    z-index: 1100;
}	
.logo{
	float:left;
	display:block;
	font-size: 1.2em;
	margin: 0.4em 5em 0.4em 10em;
	background: url("logo.svg");
}
	
.login .pull-left,
.login .media-body,
.login .pull-right{
	font-size:0.8em;
	margin-left:0.8em;
	float:left;
}

.login .pull-right a{
	display:block;
	height:38px;
	padding: 0.8em;
}

.login .media img{
	width:38px;
	height:38px;
	border-radius:2px;
}

.hull-identity__signin button{
	font-family: inherit;
	font-size:0.8em;
	padding: 0.8em;
	border: 1px solid #EEEEEE;
	border-radius: 2px;
	background-color: #008080;
	color: #FFFFFF;
}

.hull-identity__signin button:hover{
	background-color: #004040;
	color: #FFFFFF;
}	

.login {
	float: right;
	display: inline-block;
}	
/* Phone size */

.pageHeader{
	margin: 0.8em 0;
	display: block;
}

article{
	background-color: #FFFFFF;
	margin-bottom:3.6em;
}

article .btn-facebook{
	float: right;
    	background: url("http://zacomments.com/zacomments/images/facebook_share.png") no-repeat;
    	text-indent: -9999px;
    	height: 32px;
    	width: 32px;
  	margin-right: 10px;

}

article .btn-twitter{
	float: right;
    	background: url("http://zacomments.com/zacomments/images/tweet.png") no-repeat;
    	text-indent: -9999px;
    	height: 32px;
    	width: 32px;
    	margin-right: 10px;
}

.createTopic{
	margin:1.2em 0;
}

.createTopic input,
.createTopic button{
	font-size:0.8em;
	font-family:inherit;
	padding:0.8em;
	border: 1px solid #EEEEEE;
	border-radius:2px;
	background-color:#FFFFFF;
}
/*
.createTopic span{
	display:none;
}*/

.topic{
	margin-bottom:0.6em;
}
.topic h1{
	font-size:1.6em;
	margin:0 0 0.2em 0;
	text-transform: capitalize;
}

.topic ul li{
	color:#AAAAAA;
	font-size:0.8em;
	margin-right:0.4em;
}
.topic .report{
	background-color:#FFFFFF;
	color:#008080;
}
.topic .report:hover{
	background-color:#FFFFFF;
	color:#004040;
}
.topicImg{
	max-width:100%;
	max-height:500px;
	margin: 0 auto 0.6em auto;
	border-radius:2px;
	display:block;
}

.createComment{
	margin-bottom:0.8em;
}
.commentFeed{
	margin-bottom:0.8em;
}
.comment{
	margin-top:0.8em;
	position:relative;
}

.comment span{
	font-size:0.8em;
	background-color:#FFFFFF;
	color:#AAAAAA;
	display:block;
}
.comment time{
	font-size: 0.8em;
	margin-left: 0.2em;
}
.comment p{
	font-size:0.8em;
	margin:0.3em 0 0 0;
	line-height: 1.4em;
}
.comment ul li{
	color:#AAAAAA;
	font-size:0.6em;
	margin-right: 0.2em;
}
.comment button{
	font-size:inherit;
	background-color: #FFFFFF;
	border: none;
}

.userId img{
 	width: 46px;
 	float: left;
 	margin: 0.4em 0.8em 0.4em 0;
 	border-radius: 100%;
}
.userComment{
	margin-left:45px;
	clear:both;
}

 .tagFeed{
	padding: 8px;
}
.tagFeed li a{
	color: black;
	background-color: rgba(179, 102,32,1);
	font-size: 15px;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	letter-spacing: 1px;
	border: 1px solid black;
	display: inline-block;
	margin-bottom: 10px;
}
.tagFeed li a:hover{
	background-color: rgba(109, 63,20,1);
}
/*.tagFeed li a:before{
	content:"#";
}*/

/*User page*/

.userId h1{
	float:left;
}	
.userImg{
	width:38px;
	height:38px;
	border-radius:2px;
	position:absolute;
}
.userFeed{
	clear:both;
	float:left;
}

button.dropup,button.dropdown{
	border: 1px solid black;
	cursor: pointer;
	border-radius: 6px;
	color: black;
	background-color: rgba(187,187,187,1);
	font-size: 15px;
	margin-top: 5px;
	margin-right: 1px;
	letter-spacing: 1px;
}

button.dropup:hover, button.dropdown:hover{
	background-color: rgba(163,163,163,1);
}

button.btn-success{
	background-color: green;
}

button.btn-fail{
	background-color: red;	
}

#loadMore,
#loadMoreTrending{
	font-size:0.8em;
	font-family:inherit;
	padding:0.8em;
	margin-bottom:0.8em;
	border: 1px solid #EEEEEE;
	border-radius:2px;
	background-color:#FFFFFF;
	width:100%;
}

/*Tags*/

.tagsinput{
	margin-bottom:0.8em;
}
.tag{
	font-size:0.8em;
	text-transform: capitalize;
	margin-right:0.8em;
	color:#AAAAAA;
}

/* Desktop-tablet size */
	
@media only screen and (min-width: 960px){
	body{
		width:1080px;
		margin:0 auto;
		padding:0;
	}

	#mainSection{
		width:64%;
		float:left;
	}
	#mainAside{
		width:34%;
		float:right;
	}
	
}





