body{margin:0;font-family:arial;}
.navigation{width:100%;height:48px;background-color:#333333;}
.navwidth{width:80%;margin:0 auto;}
.logo{height:24px;float:left;font-family:impact;margin:0;padding:10px;color:white;}
.search{float:left;width:50%;margin:10px;padding:6px 12px;background-color:white;border:none;}
.searchbtn{float:left;padding:6px 12px;margin:10px;background-color:#888888;color:white;border:none;}
.account{float:right;height:24px;width:20%;}
.account button{font-size:11px;float:right;background-color:#888888;padding:6px 12px;margin:10px;color:white;border:none;}
.account .pull-left img{float:right;height:24px;width:24px;margin:10px;}
.account .media-body{display:none;}
.account .pull-right{font-size:11px;float:right;background-color:#888888;padding:6px 12px;margin:10px;color:white;}
.body{width:80%;margin:0 auto;}
.col1{width:50%;margin-right:5%;}
.create{width:100%;}
.create #newEntityField{font-size:11px;width:100%margin:10px;padding:6px 12px;}
.create #tagsField{font-size:11px;width:100%margin:10px;padding:6px 12px;}
.create #createTopic{font-size:11px;width:100%margin:10px;padding:6px 12px;}
.trendingbuzz{width:100%;margin:12px;}
.trendingbuzz h1{margin:0;}
.trendingbuzz li{padding:6px 12px;margin:12px;}
.newbuzz{}
.comments{}
.topcomment{}
.newcomments
.trending{}
.col2{width:20%;margin-left:5%;}
.under{}
.related{}





