body{margin:0;font-family:arial;}
.navigation{width:100%;height:48px;background-color:#333333;}
.navwidth{width:80%;margin:0 auto;}
.logo{font-size:14px;float:left;font-family:impact;margin:0;padding:10px;color:white;}
.search{float:left;width:462px;height:24px;margin:10px;background-color:white;border:none;}
.searchbtn{float:left;padding:6px 12px;margin:10px;background-color:#888888;color:white;border:none;}
.account{float:right;height:24px;width:25%;}
.account .pull-left img{float:right;height:24px;width:24px;margin:10px;display:inline-block;}
.account .media-body{display:none;}
.account .pull-right{font-size:10px;float:right;background-color:#888888;padding:6px 12px;margin:10px;color:white;display:inline-block;}
.body{width:100%;margin:0 auto;}
.col1{width:65%;margin-right:5%;}
.create{}
.trendingbuzz{}
.newbuzz{}
.comments{}
.topcomment{}
.newcomments
.trending{}
.col2{width:25%;margin-left:5%;}
.under{}
.related{}





