.preview{
	display: none;
	margin:0 45px;
}
.previewImages, .previewImage{
}

.previewImage img{
	width:100%;
}
.previewButtons{
	display: none;
	margin-bottom: 39px;
	margin-top: 12px;
}
.previewContent{
	font-size: 11px;
	float: left;
}
.previewTitle{
	font-weight: bold;
	font-size: 12px;
	margin: 0 auto 2px auto;
}
.previewTitle a{
	margin: 0 auto 0 auto;
}
.previewUrl{
	color: #666;
	font-size: 11px;
	margin: 0 auto 9px auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.previewDescription{
	margin: 0 auto 8px auto;
}
.previewTitle span, .previewDescription span{
	cursor: pointer;
	word-break: break-word;
}
.buttonLeftActive{
	background-image: url('../img/selectionButtons.gif');
	background-repeat: no-repeat;
	background-position: 0 -83px;
	width: 25px;
	height: 22px;
	float: left;
	cursor: pointer;
}
.buttonRightActive{
	background-image: url('../img/selectionButtons.gif');
	background-repeat: no-repeat;
	width: 25px;
	height: 22px;
	margin-right: 10px;
	background-position: -25px -83px;
	float: left;
	cursor: pointer;
}
.buttonLeftDeactive{
	background-image: url('../img/selectionButtons.gif');
	background-repeat: no-repeat;
	background-position: -50px -83px;
	width: 25px;
	height: 22px;
	float: left;
}
.buttonRightDeactive{
	background-image: url('../img/selectionButtons.gif');
	background-repeat: no-repeat;
	background-position: -75px -83px;
	width: 25px;
	height: 22px;
	margin-right: 10px;
	float: left;
}
.buttonLeftActive:active{
	background-image: url('../img/selectionButtons.gif');
	background-repeat: no-repeat;
	background-position: -100px -83px;
}
.buttonRightActive:active{
	background-image: url('../img/selectionButtons.gif');
	background-repeat: no-repeat;
	background-position: -125px -83px;
}
.photoNumbers{
	font-size: 10px;
	margin-top: 5px;
	float: left;
	margin-right: 10px;
}
.chooseThumbnail{
	font-size: 10px;
	color: #999;
	margin-top: 5px;
	float: left;
}
.previewLoading{
	float: right;
}
.linkPreview, #retrieveFromDatabase{
	margin: auto;
	position:relative;
}
.noThumbDiv{
	color: #333;
	font-size: 11px;
}
.noThumbCb{
	vertical-align: -2px;
	margin-right: 4px;
	margin-left: 0px;
	float: left;
}
.nT{
	float: left;
	margin-top: 3px;
	cursor: pointer;
}
.inputPreview{
	margin-left: -2px;
	font-size: 11px;
	padding: 3px 1px;
}
.text{
	font-size:0.8em;
	border: 1px solid #EEEEEE;
	border-radius:2px;
	margin-left: 48px;
	margin-bottom: 1%;
	padding: 0.8em;
	width: 50%;
}
.closePreview{
	float: right;
	background-image: url('../img/close.png');
	background-repeat: no-repeat;
	background-position: left 0px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}
.closePreview:hover{
	background-image: url('../img/close.png');
	background-repeat: no-repeat;
	background-position: left -32px;
}
.closePreview:active{
	background-image: url('../img/close.png');
	background-repeat: no-repeat;
	background-position: left -48px;
}
/*.postPreviewButton{
	font-family: inherit;
	width: 37px;
	height: 37px;
	padding:13px;
	border: 1px solid #EEEEEE;
	border-radius: 3px;
	background-color: #FFFFFF;
	color: inherit;
	cursor: pointer;
}
.postPreviewButton:active{
	background-image: none;
	background: #4f6aa3;
}*/
.postPreview{
	display:inline-block;
}

.previewPosted{
	margin: 0.6em 0;
}

.previewPosted a{
	color: #3B5998;
}
.previewPosted a:hover{
	text-decoration: underline;
	color: #3B5998;
}
.previewImagesPosted{
	cursor: pointer;
	position: relative;
}
.previewImagePoster a img{
	width:100%;
	float:none;
}
.imgIframe{
  	width: 130px;
  	height: auto;
  	float: left;
}

.previewContentPosted{
	font-size: inherit;
	float: left;
	margin-left: 0.8em;
}

.previewTitlePosted, .previewTitlePosted a{
	font-weight: bold;
	font-size: 12px;
	margin: 0 auto 2px auto;
	color: #3B5998;
}
.previewTitlePosted a:hover{
	text-decoration: underline;
	color: #3B5998;
}
.previewUrlPosted, .previewUrlPosted a{
	color: gray !important;
	font-size: 11px;
	margin: 0 auto 9px auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.previewUrlPosted a:hover{
	color: #3B5998;
	text-decoration: underline;
}
.previewDescriptionPosted{
	margin: 0 auto 8px auto;
}
.previewTitlePosted span{ 
	cursor: pointer;
	word-break: break-word;
}
 .previewDescriptionPosted span{ 
	word-break: break-word;
	color: gray;
}
.previewTextPosted{
	margin-bottom: 10px;
	word-break: break-word;
}
.videoPostPlay{
	background-image: url('../img/play.png');
	height: 26px;
	width: 35px;
	position: absolute;
	left: 48px;
	top: 34px;
	display:none;
}
